.underline-left{
  display: block;
  margin-bottom: 3rem;
  width: 18rem;
  height: .3rem;
  background-color: $color-primary;
}
.underline-middle{
  display: block;
  margin: 0 auto;
  margin-bottom: 6rem;
  width: 12rem;
  height: .3rem;
  background-color: $color-primary;
}
