//
//	VARIABLES
// ------------------------------------------------------

$color-primary: #FF446C;
$color-secondary:  #ce3456;
$color-terciary: #27181b;
$color-light-1: #ffffff;
$color-light-2: #f5f5f5;
$color-dark: #333;
$color-text-primary: #666;
$color-text-secondary: #eee;
$color-shadow: rgba(#000, 0.3);